@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header-text {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
}
