.org-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    box-shadow: 0 0 10px #ccc;
    padding-top:10px;
}

.org-form-header {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #00592b;
}

.org-input-label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #00392b;
    letter-spacing: 1px;
    font-weight: 500;
}
.org-input {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #555555;
    padding-left: 10px;
    height: 30px;
    box-shadow: 0 0 5px #ccc;
}

.yearly-goal-input {
    width: 200px;
    font-family: 'Roboto', sans-serif;
    color: #555555;
    padding-left: 10px;
    height: 30px;
    box-shadow: 0 0 5px #ccc;
}

.snackbar {
    position: fixed;
    top: 20px;
    right: -300px;
    background-color: #38a169; /* green */
    color: white;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    z-index: 9999;
    animation: slideIn 0.5s forwards, fadeOut 0.5s ease-out 2.5s forwards;
}

@keyframes slideIn {
    to {
        right: 20px;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        right: -300px;
    }
}

.org-units-table {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.org-units-table h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #00592b;
}

.header-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #00592b;
}